<div class="user-container">
    <div class="user-header">
        <img src="<%= @user.photo %>" alt="photo">
        <h2><%= @user.name %></h2>
        <p>Total Post: <%= @user.posts_counter %></p>

    </div>

    <div class="user-bio">
        <p><%= @user.bio %></p>
    </div>

    <div class="user-posts">
        <div class="post-container">
            <% @user.three_recent_posts.reverse.each_with_index do |post, index| %>
                <div class="post">
                    <h4>Post No: <%= index+1 %></h4>
                    <h3><%= post.title %></h3>
                    <p><%= post.text %></p>
                    <div class="counters">
                    <h5>Comments: <%= post.comments_counter || 0 %></h5>
                    <h5>likes: <%= post.likes_counter || 0 %></h5>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<a href="/users/<%= @user.id %>/posts" class="users-show__button">See all posts</a>
</div>


