<div class="posts-container">
    <div class="post-header">
        <div class="post-image-holder">
            <img src="<%= @user.photo %>" alt="user">
        </div>
            <div class="post-details">
                <h3><%= @user.name %></h3>
                <p><%= @user.posts_counter %></p>
        </div>
    </div>
    <% @posts.reverse.each_with_index do |post| %>
        <div class="post">
            <h2><%= post.title %></h2>
            <p><%= post.text %></p>
        </div>
</div>