 <div class="detiled-post-container">
    <div class="detailed-post-header">
        <h4><%= @post.title %> by: <%= @post.user.name %></h4>
        <span>Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></span> 
    </div>
    <div class="detailed-post-text">
        <p><%= @post.text %></p>
    </div>
    <div class="detailes-post-comments">
        <h4>Comments:</h4>
        <% if @post.comments.empty? %>
        <p>No comments yet</p>
        <% else %>
        <% @post.comments.each do |comment| %>
            <div class="comment">
             <p><%= comment.user.name %>:</p>
                <p><%= comment.text %></p>
                
            </div>
            <% end %>
        <% end %>
    </div>
    <div class="comment-form">
        <%= render partial: 'comments/form', locals: { post: @post } %>
    </div>
    <br>
    <div class="like-form">
        <%= render partial: 'comments/like_form', locals: { post: @post } %>
    </div>
    <br>
    <div class="back-button">
        <%= link_to "Back", user_posts_path %>
    </div>
    <div class="destroy-btn">
        <% if can? :destroy, @post %>
    <%= button_to 'Delete Post', user_posts_path(@post),  data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?" } %>
  <% end %> 
    </div>

 </div> 




