<!DOCTYPE html>
<html>
  <head>
    <title>BlogBloggy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div><h1>Bloggy App</h1></div>
  <div class="sign-put">
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
